{% load templatetags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Review</title>
    <link rel="stylesheet" type="text/css" href="{% static 'character_builder/style.css' %}" />
</head>
<body>
{% block inner %}
    <div id="container"></div>

    <script>
        window.props = {{props|json}};
        window.react_mount = document.getElementById('container');
    </script>
    {% load static %}
    <script src="{% static "src/character.js" %}"></script>
{% endblock %}
</body>
</html>